<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nbpt.zyx_sb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hellow"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".SecondActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Linear"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".huanying"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".zhinengjiaju" />
        <activity android:name=".znsc" />
        <activity android:name=".tqyb" />
        <activity android:name=".szzx" />
        <activity android:name=".List"></activity>
        <activity android:name=".testlist" />
        <activity android:name=".lianxiwomen" android:label="联系我们"></activity>
    </application>

</manifest>